.app {
  text-align: center;
  margin-top: 50px;
}

.status {
  margin-bottom: 20px;
  font-size: 24px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 10px;
}

.square {
  font-size: 24px;
  width: 100px;
  height: 100px;
  background-color: #ddd;
  border: 1px solid #999;
  cursor: pointer;
}

.square:hover {
  background-color: #ccc;
}

.row {
  display: flex;
}
